html,
body {
  height: 100%;
  background-color: lightgrey;
}

.icon-radius {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

h1 {
	font-family: sans-serif;
	font-weight: bold;

}

.container-rad {
	border-radius: 30px;

	background-color: rgb(0,56,115);
}

.img-bg {
	background-color: white;
}
}

.title-app {
	background-color: white;
	height: 100px;
}

.img-center {
	margin-top: 37%;
}

.btn-color:hover {
	background-color: white;
	color: rgb(0,56,115);
}