html,
body {
    height: 100%;
    background-color: lightgrey;
}

.row {
	border-radius: 30px;
}
.icon-radius {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;

}

.container-rad {
    border-radius: 30px;
    background-color: rgb(0, 56, 115);
}

.img-bg {
    background-color: white;
}


.title-app {
    background-color: white;
    height: 100px;
}

.img-center {
    margin-top: 37%;
}

.btn-color {}

.btn-color:hover {
    color: rgb(12,14,14);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: all 0.2s ease-in-out;
}

.radio-label {
	color: rgb(255, 255, 255);
}

@media only screen and (max-width: 991px) {
	.img-fluid {
		margin-top: -10px;
		margin-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.container-rad {
		border-radius: 0px;
	}
	.img-bg {
		border-top-left-radius: 0px;
    	border-top-right-radius: 0px;
	}
	.img-center {
		margin-top: 10%;
	}
}

@media only screen and (max-width: 575px) {
	.img-fluid {
		margin-top: -10px;
		margin-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.img-bg {
		border-top-left-radius: 0px;
    	border-top-right-radius: 0px;
    	/*margin-bottom: -20px;*/
	}
	.row {
		/*margin-top: -20px;*/
	}
	.container-rad {
		border-radius: 0px;
	}
	.my-5 {
		margin-top: 0px!important;
	}
	.img-center {
		margin-top: 10%;
	}
}